button {
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &.primary {
        background-color: #007BFF;
        color: white;

        &:hover {
            background-color: #0056b3;
        }
    }

    &.secondary {
        background-color: #6c757d;
        color: white;

        &.hover {
            background-color: #565e64;
        }
    }

    &.complete {
        background: none;
        color: #0056b3;
    }
}