@mixin button-styles($bg-color, $hover-color, $text-color: white) {
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: $bg-color;
    color: $text-color;

    &:hover {
        background-color: $hover-color;
    }
}

.primary {
    @include button-styles(#007BFF, #0056b3)
}

.secondary {
    @include button-styles(#6c757d, #565e64)
}

.complete {
    @include button-styles(none, none, #007BFF);
    color: #007BFF;

    &:hover {
        color: #0056b3
    }
}